@page
@model ProductShopping.UI.RazorPagesUI.Pages.Cart.CartModel
@{
    ViewData["Title"] = "Cart";
}

<section class="products-page cart-page">
    <div id="cartContent">
        <partial name="_CartContent" model="Model" />
    </div>
</section>

@section Scripts {
    <script src="~/js/cart.js" asp-append-version="true"></script>
}